*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    
}

#nav{
    /* display: flex;
    position: fixed;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; */
    width: 100%;
    position: absolute;
    
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    
}
#main{
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;

}
#nav .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:5vw;
    
}

#detail {
   width:40%;
   margin-top: 25vh;
   float: right;
   margin-right: 1vw;
   
   
}
#detail h1{
   font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
}

#bottom{
    display: flex;
    flex-direction: row;
    gap:15vw;
    margin-top: 5vh;
    padding: 2vw;
    
}
.reset a{
    text-decoration: none;
    color: white;
}

@media(max-width:600px){
    #detail h1{
       font-size: 20px;
     }
}
@media(min-width:600px){
    #detail h1{
        font-size: 50px;
      }
}